
* {
    font-family: 'Oswald';
}

h1 {
    text-transform: uppercase;
    margin-top: 4rem;
}

.item-md p {
    margin: 0;
    font-size: 1.8rem;
    color: #fff;
    font-weight: 200;
}

.content-md hr {
    background-color: #644ad4;
}

ion-icon {
    font-family: 'Ionicons';
}

.toolbar-title-md {
    font-size: 3rem;
}

ion-label, .item-md h2 {
    font-size: 2rem;
}

.item-md {
    background-color: transparent;
    padding-left: 0;
}

.item-md.item-block .item-inner {
    border-bottom: 0;
}

.item-md ion-avatar img {
    width: 64px;
    height: 64px;
}