
* {
    font-family: 'Oswald';
}

ion-icon {
    font-family: 'Ionicons';
}

.toolbar-title-md {
    font-size: 3rem;
}

ion-label {
    font-size: 2rem;
}

.item-md {
    background-color: transparent;
    padding-left: 0;
}

.item-md.item-block .item-inner {
    border-bottom: 0;
}

.item-md ion-avatar img {
    width: 64px;
    height: 64px;
}